
.tools_section {
    width: 92%;
    margin: 44px auto;
    padding: 59px 52px 104px;
    overflow: hidden;
    border-radius: 15px;
    background: var(--grayscale-white-background-text, #FFF);
    box-shadow: 0px 4px 60px 0px rgba(140, 140, 140, 0.15);
    text-align: center;
}
.tools_section h1{
    color: #08080F;
    font-family: Ubuntu;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.tool_section_p {
    color: #08080F;
    text-align: center;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px;
    margin-top: 7px;
    margin-bottom: 42px;
}
.tools-steps{
    width: 680px;
    height: 56px;
    margin: auto;
    border-radius: 60px;
    background: linear-gradient(90deg, rgba(52, 32, 132, 0.98) 0%, rgba(52, 16, 196, 0.90) 19.47%, rgba(52, 32, 132, 0.98) 100%), linear-gradient(180deg, rgba(244, 222, 255, 0.40) 0%, rgba(252, 245, 255, 0.40) 28.13%, rgba(255, 254, 255, 0.80) 63.54%, rgba(244, 222, 255, 0.00) 100%);
    padding: 11px 15px;

}
.tabs {
            display: flex;
            list-style: none;
            padding: 0;
            column-gap: 20px;
        }

        .tabs li {
            position: relative;
            cursor: pointer;
            padding: 10px 14px 10px 40px;
            color: #767676;
            font-family: 'Ubuntu';
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            border-radius: 100px;
            background: #FFF;
        }
        .tabs li::before{
            content: "";
            position: absolute;
            left: 5%;
            top: 50%;
            transform: translateY(-50%);
            width: 20px; /* Adjust this value based on your icon/image size */
            height: 20px; /* Adjust this value based on your icon/image size */
            background-image: url('D:/EssayWriter/images/tick-inactive.svg'); /* Replace with your image URL */
            background-size: contain;
            background-repeat: no-repeat;
        }

        
        .tabs li.active {

            color: #E022FF;
        }
        .custom li{
                width: 293px;
        }
        .req li{
                width: 237px;
        }
        .sel li{
            width: 173;
        }
        .tabs li.active::before{
            content: "";
            position: absolute;
            left: 5%;
            top: 50%;
            transform: translateY(-50%);
            width: 20px; /* Adjust this value based on your icon/image size */
            height: 20px; /* Adjust this value based on your icon/image size */
            background-image: url('D:/EssayWriter/images/tick-active.svg'); /* Replace with your image URL */
            background-size: contain;
            background-repeat: no-repeat;
        }

        /* Styles for tab content */
        .tab-content {
            display: none;
        }

        .tab-content.active {
            display: block;
            
        }
.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.tools-container{
    max-width: 1200px;
    width: 100%;
    padding: 37px 52px 0px;
    margin: 0 auto;
}
.essaywriter-tools{
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 25px;
    max-width: 1063px;
    margin: 0 auto;
    text-align: left;
}
.tool-item{
    border-radius: 6.3px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 7px 16px 0px;
    background-color: #fff;
    padding: 25px 21px;
    max-width: 23.237%;
    width: 100%;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 195px;
}
.tool-item:hover {
    border-color: #E022FF;
}

.tool-heading{
    color: #08080F;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 7px;
}
.tool-description{
    color: #08080F;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 22px;
}
.tool-btn{
    background: #710BD8;
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 7px 11px;
    border-radius: 47.279px;
    width: 107px;
    text-decoration: none;
}
.coming-btn{
    color: #30C33F;
    font-family: Ubuntu;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 6px 8px;
    border-radius: 47.279px;
    border: 1px solid #30C33F;
    background: #FFF;
    text-decoration: none;
    width: 102px;
    height: 26px;
}
.thesis{
    margin-bottom: 8px;
}
.coming-btn-top-margin{
    margin-top: 22px;
}
    .req-form{
        border-radius: 6.3px;
        box-shadow: 1px 1px 18px rgba(0, 0, 0, 0.25);
        padding: 95px 52px 104px;
        margin-top: 37px;
    }

    .form-container {
                display: flex;
                flex-wrap: wrap;
                gap: 60px;
                margin: auto 198px;

            }
            
            .form-column {
                margin-bottom: -59px;
            }

            .form-group {
                display: block;
                margin-bottom: 35px;
            }
            
            label {
                display: block;
                margin-bottom: 8px;
                color: #0F172A;
                font-size: 13px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-align: left;
            }
            
            input[type="text"],
            select,
            textarea {
                width: 322px;
                height: 40px;
                border-radius: 6px;
                border: 1px solid #E2E8F0;
                background: #FFF;

    color: #08080F;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 120.187%;
            }

            input[type="text"],
            select,
            textarea::placeholder{
                color: #9198A1 !important;
                font-size: 12px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                padding: 8px 13px;

            }
            
            textarea {
                height: 140px;
                width: 706px;
            }
.form-group input, select{
    color: #08080F;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 120.187%;
}
.form-group input::placeholder{
                color: #9198A1;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    padding: 8px 13px;

            }
            .button-container {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 25px;
            }

            
            span.required {
        color: #DF4D4D;
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
    }
    .req-form hr{
        background: #C9DDF0;
        width: 374px;
        height: 1px;
        margin: 106px auto 36px;
        border: none;
}
    
.reset{
    border-radius: 100px;
    border: 1px solid #E2E8F0;
    background: #E2E8F0;
    color: #475569;
    font-family: Ubuntu;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 11px 30px;
}
.writing{
    border-radius: 100px;
    background: #7F00FF;
    color: #FFF;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px 24px;
    border: none;
}
.output-container{
        border-radius: 6.3px;
        box-shadow: 1px 1px 18px rgba(0, 0, 0, 0.25);
        padding: 30px 52px 52px 100px;
        margin-top: 37px;
        background: linear-gradient(180deg, rgba(244, 222, 255, 0.40) 0%, rgba(252, 245, 255, 0.40) 28.13%, rgba(255, 254, 255, 0.80) 63.54%, rgba(244, 222, 255, 0.40) 100%), #FFF;
}
.gen-heading-container{
    display: flex;
    ALIGN-ITEMS: center;
    background: #FFF;
    box-shadow: 0px 0px 11px 3px #F2F2F2;
    width: 1205px;
    height: 75px;
    margin-left: -100px;
}
.re-gen-p{
    color: #475569;
    font-family: Euclid Circular A;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 50px;
}
.re-gen-p::before{
    position: absolute;
    content: '';
    width: 10px;
    height: 9px;
    margin-top: 3px;
    margin-left: -15px;
    background-image: url('D:/EssayWriter/images/back-arrow.svg');
    
}
.re-gen-btn{
    border-radius: 23px;
    background: #7F00FF;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 120.187%;
    text-transform: capitalize;
    padding: 9px 31px 9px 9px;
    text-decoration: none;
    margin-left: 585px;
}
.output-container h2{
    margin-left: 134px;
    color: #7F00FF;
    font-family: Ubuntu;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 120.187%;
}
.re-gen-btn::after{
position: absolute;
    content: '';
    width: 22px;
    height: 22px;
    margin-left: 3.62px;
    background-image: url('D:/EssayWriter/images/regenerate.svg');
}
.gen-heading-container svg{
    margin-left: 13px;
}
.output-essay-btn{
    background: linear-gradient(90deg, #342084 0%, rgba(52, 16, 196, 0.92) 19.47%, #342084 100%), #710BD8;    
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 9px 20px;
    border-radius: 100px;
    border: none;
    margin-left: -20px;
}
.chat-btn{
    background: linear-gradient(90deg, #342084 0%, rgba(52, 16, 196, 0.92) 19.47%, #342084 100%), #710BD8;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 9px 20px;
    border-radius: 100px;
    border: none;
    margin-left: 20px;
}
.generate-essay{
    color: #3F3F3F;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}
.monthly-sub{
    border-radius: 10px;
    border: 1px solid #E2E8F0;
    background: linear-gradient(180deg, rgba(244, 222, 255, 0.40) 0%, rgba(252, 245, 255, 0.40) 28.13%, rgba(255, 254, 255, 0.80) 63.54%, rgba(244, 222, 255, 0.40) 100%), #FFF;    box-shadow: 0px 20px 20px 0px rgba(76, 86, 115, 0.10);
    width: 298px;
    height: 360px;
}
#popup{

    display: flex;
    justify-content: center;
}
.monthly-price-container{
    display: flex;
    align-items: center;
    gap: 9px;
    background: #7F00FF;
    padding: 6px 22px;
}
.monthly-sub h1{
    background: linear-gradient(90deg, rgba(52, 32, 132, 0.98) 0%, rgba(52, 16, 196, 0.90) 19.47%, rgba(52, 32, 132, 0.98) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding-top: 28px

}
.price{
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
}
.old-price{
        padding: 2px 8px;
    color: #FFF;
    font-size: 14px;
    text-decoration-color: #fff;
    border-radius: 7px;
    border: 1px solid #FFF;
}
.discount{
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
}
.monthly-features{
    list-style: none;
    margin: 24px 67px 36px;
}
.monthly-features li{
    color: #08080F;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 16px;
}
.monthly-features li::before{
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    background: url('D:/EssayWriter/images/tick-mark.svg');
    background-size: contain;
    left: 38px;
}
.subscribe-now-btn{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 12px 26px;
    max-width: max-content;
    margin: 35px auto 10px;
    border-radius: 5.232px;
    background: #E022FF;
    border: none;
    cursor: pointer;
}
.subscribe-now-btn span{
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
}
.sub-p{
    color: #F68919;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    TEXT-ALIGN: center;
    margin: 10px auto 28px;
}
.sub-p span{
    color: #F61919;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.out-chat-btn-container{
    margin-top: 114px;
}

/* =============================================alayian================================= */

input:focus{
    border:  none;
}

.same-valid{
    color: green;
    font-size: 12px;
/*     display: none; */
}

